CalBoxConsumer_Client/Connected Services/BoxCalServiceReference/BoxCalService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="BoxCalService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpsBinding_IBoxCalService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://boxvolumecaltrialexameasw20171023120355.azurewebsites.net/BoxCalService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://boxvolumecaltrialexameasw20171023120355.azurewebsites.net/BoxCalService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://boxvolumecaltrialexameasw20171023120355.azurewebsites.net/BoxCalService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/BoxVolumeCalTrialExameASW" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IBoxCalService_GetVolume_InputMessage">
    <wsdl:part name="parameters" element="tns:GetVolume" />
  </wsdl:message>
  <wsdl:message name="IBoxCalService_GetVolume_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetVolumeResponse" />
  </wsdl:message>
  <wsdl:message name="IBoxCalService_GetSide_InputMessage">
    <wsdl:part name="parameters" element="tns:GetSide" />
  </wsdl:message>
  <wsdl:message name="IBoxCalService_GetSide_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetSideResponse" />
  </wsdl:message>
  <wsdl:message name="IBoxCalService_InsertBoxCalRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertBoxCalRequest" />
  </wsdl:message>
  <wsdl:message name="IBoxCalService_InsertBoxCalRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertBoxCalRequestResponse" />
  </wsdl:message>
  <wsdl:message name="IBoxCalService_GetAllRequest_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRequest" />
  </wsdl:message>
  <wsdl:message name="IBoxCalService_GetAllRequest_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllRequestResponse" />
  </wsdl:message>
  <wsdl:portType name="IBoxCalService">
    <wsdl:operation name="GetVolume">
      <wsdl:input wsaw:Action="http://tempuri.org/IBoxCalService/GetVolume" message="tns:IBoxCalService_GetVolume_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBoxCalService/GetVolumeResponse" message="tns:IBoxCalService_GetVolume_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetSide">
      <wsdl:input wsaw:Action="http://tempuri.org/IBoxCalService/GetSide" message="tns:IBoxCalService_GetSide_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBoxCalService/GetSideResponse" message="tns:IBoxCalService_GetSide_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertBoxCalRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IBoxCalService/InsertBoxCalRequest" message="tns:IBoxCalService_InsertBoxCalRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBoxCalService/InsertBoxCalRequestResponse" message="tns:IBoxCalService_InsertBoxCalRequest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllRequest">
      <wsdl:input wsaw:Action="http://tempuri.org/IBoxCalService/GetAllRequest" message="tns:IBoxCalService_GetAllRequest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IBoxCalService/GetAllRequestResponse" message="tns:IBoxCalService_GetAllRequest_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IBoxCalService" type="tns:IBoxCalService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVolume">
      <soap:operation soapAction="http://tempuri.org/IBoxCalService/GetVolume" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSide">
      <soap:operation soapAction="http://tempuri.org/IBoxCalService/GetSide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBoxCalRequest">
      <soap:operation soapAction="http://tempuri.org/IBoxCalService/InsertBoxCalRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRequest">
      <soap:operation soapAction="http://tempuri.org/IBoxCalService/GetAllRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BasicHttpsBinding_IBoxCalService" type="tns:IBoxCalService">
    <wsp:PolicyReference URI="#BasicHttpsBinding_IBoxCalService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetVolume">
      <soap:operation soapAction="http://tempuri.org/IBoxCalService/GetVolume" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetSide">
      <soap:operation soapAction="http://tempuri.org/IBoxCalService/GetSide" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertBoxCalRequest">
      <soap:operation soapAction="http://tempuri.org/IBoxCalService/InsertBoxCalRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllRequest">
      <soap:operation soapAction="http://tempuri.org/IBoxCalService/GetAllRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BoxCalService">
    <wsdl:port name="BasicHttpBinding_IBoxCalService" binding="tns:BasicHttpBinding_IBoxCalService">
      <soap:address location="http://boxvolumecaltrialexameasw20171023120355.azurewebsites.net/BoxCalService.svc" />
    </wsdl:port>
    <wsdl:port name="BasicHttpsBinding_IBoxCalService" binding="tns:BasicHttpsBinding_IBoxCalService">
      <soap:address location="https://boxvolumecaltrialexameasw20171023120355.azurewebsites.net/BoxCalService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>