CalBoxConsumer_Client/Connected Services/BoxCalServiceReference/BoxCalService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BoxVolumeCalTrialExameASW" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BoxVolumeCalTrialExameASW" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfBoxCalRequest">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BoxCalRequest" nillable="true" type="tns:BoxCalRequest" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfBoxCalRequest" nillable="true" type="tns:ArrayOfBoxCalRequest" />
  <xs:complexType name="BoxCalRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="Height" type="xs:double" />
      <xs:element minOccurs="0" name="Length" type="xs:double" />
      <xs:element minOccurs="0" name="Request" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Volume" type="xs:double" />
      <xs:element minOccurs="0" name="Width" type="xs:double" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="BoxCalRequest" nillable="true" type="tns:BoxCalRequest" />
</xs:schema>